body.page-content {
	height: 100%;
	width: auto;
	margin-top: 20px;
	background: url("/assets/background_iot_bzh_light.jpg") 0 0 no-repeat;
	background-size: cover;
	background-position: center;
}

.left {
	float: left;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.right {
	float: right;
}

#question,
#output,
#outevt {
	white-space: pre-wrap;
}

button {
	margin-right: 10px;
	padding: 6px 8px;
    font-size: large;
}

#ping {
    background-color: lightyellow;
}

#register_form label {
    display: block;
    padding-left:26px;
    width:125px;
    text-transform: capitalize;
    display:inline-block
}

.sgate_logo {
    width: 50px;
    height: 50px;
}

.sgate_button {
    opacity: 1.0;
    width: 250px;
    margin-left: 10px;
    margin-top: 0;
}

.sgate_info {
    color: whitesmoke;
}

.sgate_extra {
    text-align: right;
    color: lightgray;
    font-size: small;
}

.sgate_box {
    background-color: grey;
    opacity: 0.8;
    vertical-align:middle; 
    margin:10px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
}

pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
	background-color: white;
	opacity: 0.85;
	min-height: 5pc;
	max-height: 10pc;
	overflow: auto;
}

pre#output {
	max-height: 30pc;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}
